<footer class="cmp-footer">
    <div class="cmp-footer__links noselect">
        <a class="cmp-footer__links__home" routerLink="/">{{'FOOTER_LINKS_HOME'|translate}}</a> <!-- Home -->
        &nbsp;|&nbsp;
        <a class="cmp-footer__links__countries" routerLink="/countries">{{'FOOTER_LINKS_COUNTRYLIST'|translate}}</a> <!-- Laenderliste -->
        &nbsp;|&nbsp;
        <a class="cmp-footer__links__impressum" routerLink="/impressum">{{'FOOTER_LINKS_IMPRESSUM'|translate}}</a> <!-- Impressum -->
    </div>

    <cmp-language-switch class="cmp-footer__languageselect"></cmp-language-switch>
</footer>
