<div class="cmp-translations-item" [ngClass]="{'cmp-translations-item--changed': changed}">
    <div class="cmp-translations-item__wrapper" *ngIf="translation">
        <cmp-f-input class="cmp-translations-item__input" name="input" [label]="translation.key.key" [fc]="input"></cmp-f-input>
        <cmp-f-button class="cmp-translations-item__button" type="button" theme="color1" text="SAVE" [disabled]="loading" (click)="save()"></cmp-f-button>
        <cmp-f-button class="cmp-translations-item__button" type="button" theme="color2" text="DELETE" [disabled]="loading" (click)="delete()"></cmp-f-button>
    </div>
</div>
