<cmp-navigation></cmp-navigation>
<cmp-homebutton></cmp-homebutton>
<cmp-container>
    <div class="cmp-impressum"><!-- Hierfuer brauchen wir eigentlich keinen englischen Text -->
        <h1>Impressum</h1>

        <h2>Angaben gemäß § 5 TMG:</h2>
        <p>Dennis Fritsch<br />
        Travelfeed<br />
        Musterstraße 111<br />
        Gebäude 44<br />
        90210 Musterstadt</p>
        
        <h2>Kontakt:</h2>
        <p>Telefon: +49 (0) 123 44 55 66<br />
        Telefax: +49 (0) 123 44 55 99<br />
        E-Mail: mustermann@musterfirma.de</p>
        
        <h2>Umsatzsteuer:</h2>
        <p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />
        DE 999 999 999</p>
        
        <h2>Berufsbezeichnung und berufsrechtliche Regelungen</h2>
        <p>Berufsbezeichnung: Webdesigner<br />
        Zuständige Kammer: Die Kammer des Schreckens<br />
        Verliehen durch: Fresh Dumbledore<br />
        Es gelten folgende berufsrechtliche Regelungen: Keine<br />
        
        <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
        <p>Dennis Fritsch<br />
        Musterstraße 110<br />
        Gebäude 33<br />
        90210 Musterstadt</p>
        
        <h2>Streitschlichtung</h2>
        <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a><br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>
        
        <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    </div>
</cmp-container>

<cmp-footer></cmp-footer>