@import '../../../../scss/shared';

$component: 'cmp-users';

@include cmp-base($component) {
    &__wrapper {
        min-height: 100vh;
        display: flex;
        background: rgb(190, 190, 190);
    }

    &__list {
        flex: 2;
    }

    &__details {
        flex: 3;
        background: rgb(165, 165, 165);
    }
}
