<!-- type = TEXT -->
<div class="cmp-form-input">
    <div *ngIf="type != 'textarea'" class="row">
        <input type="{{ type }}" name="{{ name }}" id="{{ name }}" [autocomplete]="autocomplete" class="cmp-input" />
        
        <label for="{{ name }}">{{ label }}</label>
    </div>
    <cmp-icon *ngIf="type != 'textarea' && icon != ''" name="{{ icon }}"></cmp-icon>
</div>

<!-- type = TEXTAREA -->
<div class="cmp-form-input">
    <div *ngIf="type == 'textarea'" class="row">
        <textarea name="{{ name }}" id="{{ name }}" class="cmp-input"></textarea>
        <label for="{{ name }}">{{ label }}</label>
    </div>
</div>