@import '../../../../scss/shared';

$component: 'cmp-translations';

@include cmp-base($component) {
    &__wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: $color-white2;
    }

    &__title {
        height: 60px;
        margin-bottom: 25px;
        padding: 10px 40px 0;
        position: sticky;
        top: 0;
        background-color: rgb(242, 242, 242);
        border-bottom: 1px dotted rgba($color-grey1, 0.4);
        z-index: 1;
    }

    &__overview,
    &__view {
        padding: 0 40px 0;
    }

    &__overview {
        margin-bottom: 5px;
        padding-bottom: 20px;
        border-bottom: 1px $color-white3 dashed;
    }
}
