<div class="cmp-translations">
    <div class="cmp-translations__wrapper">
        <div class="cmp-translations__title">
            <cmp-headline-h2 text="Translations" icon="language" iconPosition="left"></cmp-headline-h2>
        </div>
        <div class="cmp-translations__overview">
            <cmp-translations-overview></cmp-translations-overview>
        </div>
        <div class="cmp-translations__view">
            <cmp-translations-view></cmp-translations-view>
        </div>
    </div>
</div>
