@import '../../../scss/shared';

$component: 'cmp-homebutton';

@include cmp-base($component) {
    position: fixed;
    left: 10px;
    top: 10px;

    color: #444;

    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 8px;

    font-size: 30px;

    background-color: white;

    border-bottom: 4px solid #777;

    &:hover {
        background-color: #ccc;
    }
}
