@import '../../../../scss/shared';

$component: 'cmp-comment-item';

@include cmp-base($component) {
    position: relative;

    &__wrapper {
        padding: 5px 10px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        background-color: #ccc;
    }

    &__content {
        flex: 1;
    }

    &__user {
        font-weight: bold;
        margin-right: 10px;
    }

    &__delete {
        color: #777;

        &:hover {
            color: black;
            cursor: pointer;
        }
    }
}

@include cmp-modifier($component, 'even') {
    &__wrapper {
        background-color: #fff;
    }
}
