@import '../../../../scss/shared';

$component: 'cmp-sign-out';

@include cmp-base($component) {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        width: 35vw;
        height: 50vh;
        min-width: 550px;
        max-height: 350px;
        min-height: 300px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $color-white3;
    }
}
