<div class="cmp-backend-navigation" [ngClass]="{'cmp-backend-navigation--expanded': expanded}">
    <div class="cmp-backend-navigation__wrapper">
        <button class="cmp-backend-navigation__button" type="button" (click)="toggleNavigation()">
            <i class="fa fa-bars"></i>
        </button>
        <div class="cmp-backend-navigation__content">
            <ul>
                <li>
                    <a [routerLink]="['articles']">Articles</a>
                </li>
                <li>
                    <a [routerLink]="['translations']">Translations</a>
                </li>
            </ul>
        </div>
    </div>
</div>
