@import '../../../scss/shared';

$component: 'cmp-login';

@include cmp-base($component) {
    background-color: #f5deb3;
    width: 35%;
    padding: 50px 100px 20px;
    margin: 0 auto;
}

@include cmp-base($component cmp-form-input) {
    width: 100%;
    margin-bottom: 10px;
}

@include cmp-base($component cmp-button) {
    margin-top: 10px;
}
