<div class="cmp-articles-details">
    <div class="cmp-articles-details__wrapper">
        <h2>Article {{article.id}}</h2>
        <pre>{{article|json}}</pre>
    </div>
    <div class="cmp-articles-details__actions">
        <cmp-f-row layout="1-1">
            <cmp-f-column>
                <cmp-f-button theme="primary" text="Save" icon="floppy-o" (click)="save()"></cmp-f-button>
            </cmp-f-column>
            <cmp-f-column>
                <cmp-f-button theme="secondary" text="Delete" icon="trash-o" (click)="delete()"></cmp-f-button>
            </cmp-f-column>
        </cmp-f-row>
    </div>
</div>
