<div class="cmp-travel-preview" *ngIf="(articles$ | async) as articles">
    <div [ngSwitch]="type">
        <cmp-headline-h2 [text]="'Die neusten Beiträge'" *ngSwitchCase="'newest'"></cmp-headline-h2>
        <cmp-headline-h2 [text]="'Bestbewertete Beiträge'" *ngSwitchCase="'best-rated'"></cmp-headline-h2>
    </div>

    <a class="cmp-travel-preview__element" [routerLink]="['/travelogue', article.id]" *ngFor="let article of articles">
        <div class="cmp-travel-preview__image">
            <img class="cmp-travel-preview__img" src="https://images.pexels.com/photos/614974/pexels-photo-614974.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" />
        </div>
        <div class="cmp-travel-preview__info">
            <h3 class="cmp-travel-preview__title">{{article.title}}</h3>
            <div class="cmp-travel-preview__additionals">
                <cmp-icon name="clock-o"></cmp-icon>
                <span>{{article.readingtime}} Minuten</span>
                <span class="cmp-travel-preview__author">{{article.user.username}}</span>
            </div>
        </div>
    </a>
</div>
