@import '../../../scss/shared';

$component: 'cmp-travel-preview';

@include cmp-base($component) {
    overflow: hidden;
    height: 500px;
    width: 100%;
    display: block;
    margin: 0 0 60px 0;
    position: relative;

    &--title {
        color: #777;
        font-size: 22px;
        @media (max-width: map-get($breakpoint-settings, tablet)) {
            color: green;
        }
    }

    &--text {
        color: #fff;
        padding: 10px;
    }

    &--img {
        cursor: pointer;
        float: left;
        width: 50%;
        height: 100%;
        padding: 10px;
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    @media (min-width: map-get($breakpoint-settings, desktop)) {
        &--text {
            opacity: 0;
            margin-right: 20%;
            line-height: 22px;
            -webkit-transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -moz-transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -o-transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        &--img:hover &--text {
            opacity: 1;
            font-size: 18px;
            background-color: rgba(0, 0, 0, 0.25);
        }

        &--img {
            width: 20%;
            -webkit-transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -moz-transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -o-transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        // Wenn Maus auf Modul haben alle Bilder 16% breite
        &:hover &--img {
            width: 16%;
            -webkit-transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -moz-transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -o-transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        // ausser das Bild welches gerade gehovert wird
        &--img:hover {
            width: 36% !important;
            -webkit-transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
            -moz-transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
            -o-transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
            transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
        }
    }
}
