<div class="cmp-travel-preview">
    <a 
        href="travelogue?travelogue=122" 
        class="cmp-travel-preview--img" 
        *ngFor="let index of [1,2,3,4,5,6]" 
        style="background-image:url(https://images.pexels.com/photos/614974/pexels-photo-614974.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)"
    >
        <h3 class="cmp-travel-preview--title">Kanadadische Jungferninseln</h3>
        <p class="cmp-travel-preview--text text-justify">
            Kanada (englisch und französisch Canada) ist ein Staat in Nordamerika, der zwischen dem Atlantik im Osten und dem Pazifik im Westen liegt und nordwärts bis zum Arktischen Ozean reicht. Die einzige Landgrenze ist jene zu den USA im Süden und im Nordwesten.
        </p>
    </a>
</div>