<div class="cmp-registration">
    <form [formGroup]="registrationForm" (submit)="register()">
        <cmp-f-row>
            <cmp-f-column>
                    <cmp-f-input class="cmp-registration__input" name="username" label="username" [fc]="username" [validation]="validation.username" autocomplete="username" icon="user"></cmp-f-input>
            </cmp-f-column>
        </cmp-f-row>
        <cmp-f-row>
            <cmp-f-column>
                <cmp-f-email class="cmp-registration__input" name="email" label="email" [fc]="email" [validation]="validation.email" autocomplete="email" icon="user"></cmp-f-email>
            </cmp-f-column>
        </cmp-f-row>
        <cmp-f-row>
            <cmp-f-column>
                <cmp-f-password class="cmp-registration__input" name="password" label="password" [fc]="password" [validation]="validation.password" autocomplete="new-password" icon="key"></cmp-f-password>
            </cmp-f-column>
        </cmp-f-row>
        <cmp-f-row>
            <cmp-f-column align="right">
                <cmp-f-button class="cmp-registration__button" type="submit" theme="color2" text="Register"></cmp-f-button>
            </cmp-f-column>
        </cmp-f-row>
    </form>
</div>
