@import '../../../../../scss/shared';

$component: 'cmp-users-item';

@include cmp-base($component) {
    display: flex;
    flex-direction: column;

    &__text {
        height: 50px;
        line-height: 50px;
        flex: 1;
        font-size: 18px;
    }

    &__actions {
        height: 20px;
        display: flex;
        font-size: 14px;
    }

    &__action {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        font-size: 18px;
        text-align: center;
    }
}
