<div class="cmp-users-item">
    <div class="cmp-users-item__header">
        <div class="cmp-users-item__title">
            <span>{{user.firstname}} {{user.lastname}}</span>
        </div>
        <div class="cmp-users-item__content">
            <ul class="cmp-users-item__facts">
                <li class="cmp-users-item__fact" *ngIf="user.email">
                    <span>{{user.email}}</span>
                </li>
                <li class="cmp-users-item__fact" *ngIf="user.username">
                    <span>{{user.username}}</span>
                </li>
            </ul>
        </div>
    </div>
    <ul class="cmp-users-item__actions">
        <li class="cmp-users-item__action" [title]="'BACKEND_USERS_LIST_ACTION_DELETE'|translate" (click)="delete($event)">
            <cmp-icon name="trash"></cmp-icon>
        </li>
    </ul>
</div>
