<h1>Navigation</h1>
<cmp-navigation></cmp-navigation>



<h1>Colors</h1>
<div style="background-color:#ffc8b4;height:60px;width:1000px;padding:20px;">Color1
    <cmp-btn color="color2" class="float-right"></cmp-btn>
</div>
<div style="background-color:#99dccb;height:60px;width:1000px;padding:20px;">Color2
    <cmp-btn color="color1" class="float-right"></cmp-btn>
</div>
<div style="background-color:#F5DEB3;height:60px;width:1000px;padding:20px;">Color3
    <cmp-btn color="color1" class="float-right"></cmp-btn>
    <cmp-btn color="color2" class="float-right"></cmp-btn>
</div>


<h1>Fonts</h1>
<h1>h1 Das ist eine standard Überschrift</h1>
<h2>h2 Das ist eine standard Überschrift</h2>
<h3>h3 Das ist eine standard Überschrift</h3>
<h4>h4 Das ist eine standard Überschrift</h4>

<p>p Das ist ein Paragraph</p>
<i>i Das ist ein kursiv</i>
<p>Das ist ein
    <strong>strong element</strong> in einem p Tag</p>
<span>span element</span>


<h1>Buttons</h1>
<cmp-btn color="color1"></cmp-btn>
<cmp-btn color="color2"></cmp-btn>

<h1>Input Fields</h1>
<cmp-form-input></cmp-form-input>
<cmp-form-input type="password"></cmp-form-input>

<h1>Icons</h1>
<cmp-icon type="cog"></cmp-icon>
<cmp-icon type="user"></cmp-icon>
<cmp-icon type="address-card-o"></cmp-icon>
<!-- Wheelchair suchen -->
<cmp-icon type="archive"></cmp-icon>
<cmp-icon type="bars"></cmp-icon>
<cmp-icon type="bookmark-o"></cmp-icon>
<cmp-icon type="camera-retro"></cmp-icon>
<cmp-icon type="envelope-o"></cmp-icon>
<cmp-icon type="hand-peace-o"></cmp-icon>
<cmp-icon type="language"></cmp-icon>
<cmp-icon type="list"></cmp-icon>
<cmp-icon type="map-signs"></cmp-icon>
<cmp-icon type="map-pin"></cmp-icon>
<cmp-icon type="plane"></cmp-icon>
<cmp-icon type="podcast"></cmp-icon>
<cmp-icon type="star"></cmp-icon>
<cmp-icon type="star-o"></cmp-icon>
<cmp-icon type="star-half"></cmp-icon>
<cmp-icon type="star-half-o"></cmp-icon>
<cmp-icon type="times"></cmp-icon>
<cmp-icon type="trash-o"></cmp-icon>
<cmp-icon type="tripadvisor"></cmp-icon>
<cmp-icon type="youtube"></cmp-icon>

<h2>colorcontainer</h2>
<div class="colorcontainer">
    <h1>Modules</h1>
    <h2>travel-preview</h2>
    <div style="width:40%;">
        <cmp-mod-travel-preview></cmp-mod-travel-preview>
    </div>
</div>

<h2>Newsletter</h2>

<cmp-mod-newsletter></cmp-mod-newsletter>


84 21 42 21
