<h1>Navigation</h1>
<cmp-navigation></cmp-navigation>


<cmp-headline-h1 text="Colors"></cmp-headline-h1>
<cmp-container color="1">
    <cmp-f-button theme="color2" class=""></cmp-f-button>
</cmp-container>
<cmp-container type="wide" color="1">
    <cmp-f-button theme="color2" class=""></cmp-f-button>
</cmp-container>

<cmp-headline-h1 text="Fonts"></cmp-headline-h1>
<cmp-headline-h1 text="H1 Das ist eine standard Überschrift"></cmp-headline-h1>
<cmp-headline-h2 text="H2 Das ist eine standard Überschrift"></cmp-headline-h2>
<cmp-headline-h3 text="H3 Das ist eine standard Überschrift"></cmp-headline-h3>
<cmp-headline-h4 text="H4 Das ist eine standard Überschrift"></cmp-headline-h4>
<cmp-headline-h5 text="H5 Das ist eine standard Überschrift"></cmp-headline-h5>
<cmp-headline-h6 text="H6 Das ist eine standard Überschrift"></cmp-headline-h6>

<p>p Das ist ein Paragraph</p>
<i>i Das ist ein kursiv</i>
<p>Das ist ein
    <strong>strong element</strong> in einem p Tag</p>
<span>span element</span>


<cmp-headline-h3 text="Buttons"></cmp-headline-h3>
<cmp-f-button theme="color1"></cmp-f-button>
<cmp-f-button theme="color2"></cmp-f-button>

<cmp-headline-h3 text="Input Fields"></cmp-headline-h3>
<cmp-container>
    <form [formGroup]="demoForm" (submit)="submit()">
        <cmp-f-input type="text" name="test" label="test" icon="user" [fc]="test"></cmp-f-input>
    </form>
</cmp-container>

<cmp-headline-h3 text="Icons"></cmp-headline-h3>
<cmp-icon name="cog"></cmp-icon>
<cmp-icon name="user"></cmp-icon>
<cmp-icon name="address-card-o"></cmp-icon>
<!-- Wheelchair suchen -->
<cmp-icon name="archive"></cmp-icon>
<cmp-icon name="bars"></cmp-icon>
<cmp-icon name="bookmark-o"></cmp-icon>
<cmp-icon name="camera-retro"></cmp-icon>
<cmp-icon name="envelope-o"></cmp-icon>
<cmp-icon name="hand-peace-o"></cmp-icon>
<cmp-icon name="language"></cmp-icon>
<cmp-icon name="list"></cmp-icon>
<cmp-icon name="map-signs"></cmp-icon>
<cmp-icon name="map-pin"></cmp-icon>
<cmp-icon name="plane"></cmp-icon>
<cmp-icon name="podcast"></cmp-icon>
<cmp-icon name="star"></cmp-icon>
<cmp-icon name="star-o"></cmp-icon>
<cmp-icon name="star-half"></cmp-icon>
<cmp-icon name="star-half-o"></cmp-icon>
<cmp-icon name="times"></cmp-icon>
<cmp-icon name="trash-o"></cmp-icon>
<cmp-icon name="tripadvisor"></cmp-icon>
<cmp-icon name="youtube"></cmp-icon>

<cmp-headline-h2 text="colorcontainer"></cmp-headline-h2>
<cmp-container type="wide" color="1">
    <cmp-headline-h1 text="Modules"></cmp-headline-h1>
    <cmp-headline-h2 text="travel-preview"></cmp-headline-h2>
    <cmp-container>
        <cmp-travel-preview></cmp-travel-preview>
    </cmp-container>
</cmp-container>

<cmp-headline-h2 text="Newsletter"></cmp-headline-h2>
<cmp-newsletter></cmp-newsletter>
