@import '../../../../scss/shared';

$component: 'cmp-articles';

@include cmp-base($component) {
    &__wrapper {
        min-height: 100vh;
        display: flex;
        background-color: $color-white2;
    }

    &__list {
        padding: 60px 40px;
        flex: 2;
    }

    &__details {
        padding: 60px 40px;
        flex: 3;
        background-color: $color-white3;
    }
}
