@import '../../../../scss/shared';

$component: 'cmp-f-button';

@include cmp-base($component, block) {
    @include cmp-form-button();

    &__button {
        height: 40px;
        line-height: 23px;
        padding: 10px 20px;
    }
}

@include cmp-modifier($component, 'primary') {
    &__button {
        background-color: rgba($color-primary, 0.6);
        color: $color-white1;
        transition: color 0.4s, background-color 0.4s;

        &:hover {
            background-color: $color-primary;
        }
    }
}

@include cmp-modifier($component, 'secondary') {
    &__button {
        background-color: rgba($color-grey1, 0.4);
        color: $color-primary;
        transition: color 0.4s, background-color 0.4s;

        &:hover {
            background-color: rgba($color-grey1, 0.6);
        }
    }
}

@include cmp-modifier($component, 'disabled') {
    &__button {
        background-color: rgba($color-grey1, 0.4);
        color: rgba($color-grey1, 0.9);
        transition: color 0.4s, background-color 0.4s;

        &:hover {
            background-color: rgba($color-grey1, 0.4);
            color: rgba($color-grey1, 0.9);
        }
    }
}
