<div class="cmp-articles-item">
    <div class="cmp-articles-item__header">
        <div class="cmp-articles-item__title">
            <span>{{article.title}}</span>
        </div>
        <div class="cmp-articles-item__content">
            <ul class="cmp-articles-item__facts">
                <li class="cmp-articles-item__fact" *ngIf="article.city">
                    <span>{{article.city}}</span>
                </li>
                <li class="cmp-articles-item__fact" *ngIf="article.user.email">
                    <span>{{article.user.email}}</span>
                </li>
            </ul>
        </div>
    </div>
    <ul class="cmp-articles-item__actions">
        <li class="cmp-articles-item__action" [title]="'BACKEND_ARTICLES_LIST_ACTION_PUBLISH'|translate" (click)="publish($event)" *ngIf="!article.published">
            <cmp-icon name="toggle-off"></cmp-icon>
        </li>
        <li class="cmp-articles-item__action" [title]="'BACKEND_ARTICLES_LIST_ACTION_UNPUBLISH'|translate" (click)="unpublish($event)" *ngIf="article.published">
            <cmp-icon name="toggle-on"></cmp-icon>
        </li>
        <li class="cmp-articles-item__action" [title]="'BACKEND_ARTICLES_LIST_ACTION_DELETE'|translate" (click)="delete($event)">
            <cmp-icon name="trash"></cmp-icon>
        </li>
    </ul>
</div>
