@import '../../../scss/shared';

$component: 'cmp-navigation';

@include cmp-base($component) {
    width: 100%;

    &__wrapper {
        margin-left: $grid-mobile-padding;
        margin-right: $grid-mobile-padding;

        position: relative;

        @include use-breakpoint(desktop) {
            max-width: $grid-desktop-max-width;
            margin-left: $grid-desktop-padding;
            margin-right: $grid-desktop-padding;
        }
    }
}

@include cmp-base($component img) {
    width: 100%;
}
