<div class="cmp-sign-in">

    <cmp-form-input class="cmp-sign-in__input" type="text" name="username" label="username" icon="user"></cmp-form-input>
    <cmp-form-input class="cmp-sign-in__input" type="password" name="password" label="password" icon="key"></cmp-form-input>
    <cmp-button class="cmp-sign-in__button" color="color1" label="Registrieren"></cmp-button>
    <cmp-button class="cmp-sign-in__button" color="color2" label="Anmelden" class="float-right"></cmp-button>

    <form [formGroup]="signInForm" (submit)="signin()">
        <input type="text" placeholder="username" formControlName="username" />
        <input type="text" placeholder="password" formControlName="password" />
        <button type="submit">Signin</button>
    </form>

    <pre>{{signInForm.value | json}}</pre>
    <pre>{{authService.isSignedIn() | async | json}}</pre>
</div>
