@import '../../../scss/shared';

$component: 'cmp-travelogue';

@include cmp-base($component, block) {
    &__map {
        height: 340px;
    }

    &__titlecontainer {
        position: relative;
        top: -45px;
        font-size: 30px;
        padding: 10px;

        width: 40%;

        background-image: url('assets/images/traveloguetitle.png');
        background-repeat: no-repeat;
    }

    &__title {
        margin: 0;
    }

    &__text {
        position: relative;
        top: -30px;
        line-height: 0.75cm;
    }
}
